<section class="gallery">
    <div class="container">
        <ul class="gallery-list list">
            <li class="gallery-list__item gallery-box-1">
                <picture>
                    <source srcset="
                    images/gallery/g-box-1-480-2.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/g-box-1-480-1.jpg" alt="Ice Cream"/>
                </picture>
            </li>
            <li class="gallery-list__item gallery-box-2">
                <picture>
                    <source srcset="
                        images/gallery/g-box-2-480-2.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/g-box-2-480-1.jpg" alt="Ice Cream" />
                </picture>
            </li>
            <li class="gallery-list__item gallery-box-3">
                <picture>
                    <source srcset="
                        images/gallery/g-box-3-480-2.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/g-box-3-480-1.jpg" alt="Ice Cream" />
                </picture>
            </li>
            <li class="gallery-list__item gallery-box-4">
                <picture>
                    <source srcset="
            images/gallery/g-box-4-480-2.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/g-box-4-480-1.jpg" alt="Ice Cream" />
                </picture>
            </li>
            <li class="gallery-list__item gallery-box-5">
                <picture>
                    <source srcset="
            images/gallery/g-box-5-480-2.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/g-box-5-480-1.jpg" alt="Ice Cream" />
                </picture>
            </li>
            <li class="gallery-list__item gallery-box-6">
                <picture>
                    <source srcset="
            images/gallery/g-box-6-480-2.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/g-box-6-480-1.jpg" alt="Ice Cream" />
                </picture>
            </li>
            <li class="gallery-list__item gallery-box-7">
                <picture>
                    <source srcset="
            images/gallery/g-box-7-480-2.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/g-box-7-480-1.jpg" alt="Ice Cream" />
                </picture>
            </li>
            <li class="gallery-list__item gallery-box-8">
                <picture>
                    <source srcset="
            images/gallery/g-box-8-480-2.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/g-box-8-480-1.jpg" alt="Ice Cream" />
                </picture>
            </li>
            <li class="gallery-list__item gallery-box-9">
                <picture>
                    <source srcset="
            images/gallery/g-box-9-480-2.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/g-box-9-480-1.jpg" alt="Ice Cream" />
                </picture>
            </li>
            <li class="gallery-list__item gallery-box-10">
                <picture>
                    <source srcset="
            images/gallery/g-box-10-480-2.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/g-box-10-480-1.jpg" alt="Ice Cream"  />
                </picture>
            </li>
        </ul>
    </div>
</section>