<section class="gallery">
    <div class="container">
        <ul class="gallery-list list">
            <li class="gallery-list__item gallery-box-1">
                <picture>
                    <source srcset="
                    images/gallery/origin-mob-2.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/origin-mob-1.jpg" alt="Ice Cream" width="40"
                        height="40" />
                </picture>
            </li>
            <li class="gallery-list__item gallery-box-2">
                <picture>
                    <source srcset="
                        images/gallery/origin-mob-2.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/origin-mob-1.jpg" alt="Ice Cream" width="40"
                        height="40" />
                </picture>
            </li>
            <li class="gallery-list__item gallery-box-3">
                <picture>
                    <source srcset="
                        images/gallery/origin-mob-2.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/origin-mob-1.jpg" alt="Ice Cream" width="40"
                        height="40" />
                </picture>
            </li>
            <li class="gallery-list__item gallery-box-4">
                <picture>
                    <source srcset="
            images/gallery/origin-mob-2.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/origin-mob-1.jpg" alt="Ice Cream" width="40"
                        height="40" />
                </picture>
            </li>
            <li class="gallery-list__item gallery-box-5">
                <picture>
                    <source srcset="
            images/gallery/origin-mob-2.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/origin-mob-1.jpg" alt="Ice Cream" width="40"
                        height="40" />
                </picture>
            </li>
            <li class="gallery-list__item gallery-box-6">
                <picture>
                    <source srcset="
            images/gallery/origin-mob-2.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/origin-mob-1.jpg" alt="Ice Cream" width="40"
                        height="40" />
                </picture>
            </li>
            <li class="gallery-list__item gallery-box-7">
                <picture>
                    <source srcset="
            images/gallery/origin-mob-2.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/origin-mob-1.jpg" alt="Ice Cream" width="40"
                        height="40" />
                </picture>
            </li>
            <li class="gallery-list__item gallery-box-8">
                <picture>
                    <source srcset="
            images/gallery/origin-mob-2.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/origin-mob-1.jpg" alt="Ice Cream" width="40"
                        height="40" />
                </picture>
            </li>
            <li class="gallery-list__item gallery-box-9">
                <picture>
                    <source srcset="
            images/gallery/origin-mob-2.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/origin-mob-1.jpg" alt="Ice Cream" width="40"
                        height="40" />
                </picture>
            </li>
            <li class="gallery-list__item gallery-box-10">
                <picture>
                    <source srcset="
            images/gallery/origin-mob-2.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/origin-mob-1.jpg" alt="Ice Cream" width="40"
                        height="40" />
                </picture>
            </li>
        </ul>
    </div>
</section>