<section class="gallery">
    <div class="container">
        <ul class="gallery-list list">
            <li class="gallery-list__item box1">
                <picture>
                    <source srcset="
                    images/gallery/origin-mob-2.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/origin-mob-1.jpg" alt="Ice Cream" width="40"
                        height="40" />
                </picture>
            </li>
            <li class="gallery-list__item box2">
                <picture>
                    <source srcset="
                        images/gallery/origin-mob-2.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/origin-mob-1.jpg" alt="Ice Cream" width="40"
                        height="40" />
                </picture>
            </li>
            <li class="gallery-list__item box3">
                <picture>
                    <source srcset="
                        images/gallery/origin-mob-2.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/origin-mob-1.jpg" alt="Ice Cream" width="40"
                        height="40" />
                </picture>
            </li>
            <li class="gallery-list__item box4">
                <picture>
                    <source srcset="
            images/gallery/origin-mob-2.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/origin-mob-1.jpg" alt="Ice Cream" width="40"
                        height="40" />
                </picture>
            </li>
            <li class="gallery-list__item box5">
                <picture>
                    <source srcset="
            images/gallery/origin-mob-2.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/origin-mob-1.jpg" alt="Ice Cream" width="40"
                        height="40" />
                </picture>
            </li>
            <li class="gallery-list__item box6">
                <picture>
                    <source srcset="
            images/gallery/origin-mob-2.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/origin-mob-1.jpg" alt="Ice Cream" width="40"
                        height="40" />
                </picture>
            </li>
            <li class="gallery-list__item box7">
                <picture>
                    <source srcset="
            images/gallery/origin-mob-2.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/origin-mob-1.jpg" alt="Ice Cream" width="40"
                        height="40" />
                </picture>
            </li>
            <li class="gallery-list__item box8">
                <picture>
                    <source srcset="
            images/gallery/origin-mob-2.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/origin-mob-1.jpg" alt="Ice Cream" width="40"
                        height="40" />
                </picture>
            </li>
            <li class="gallery-list__item box9">
                <picture>
                    <source srcset="
            images/gallery/origin-mob-2.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/origin-mob-1.jpg" alt="Ice Cream" width="40"
                        height="40" />
                </picture>
            </li>
            <li class="gallery-list__item box10">
                <picture>
                    <source srcset="
            images/gallery/origin-mob-2.jpg 2x" media="(max-width: 480px)" type="image/jpeg" />
                    <img class="gallery-list__img" src="images/gallery/origin-mob-1.jpg" alt="Ice Cream" width="40"
                        height="40" />
                </picture>
            </li>
        </ul>
    </div>
</section>