<header class="header">
  <div class="container">
    <div class="header-box">
      <a class="header-box__link" href="index.html">
        <img class="header-box__logo" src="./images/logo.png" alt="logo" />
      </a>
      <button type="button" class="header-box__btn" data-mob-menu-open>
        <svg class="header-box__icon" aria-label="Переключатель мобильного меню">
          <use class="header-box__icon-cross" href="./images/sprite.svg#cross"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
