<section class="hero">
    <div class="container hero-blok">
        <div class="hero-box hero-container">
            <h1 class="hero__title"> 
                <span class="wite-text">ice cream<br>made with</span>
                <span class="red-text">passion</span></h1> 
            <div class="hero-button-blok" >
                <a shref="" class="hero__button red-btn">Products</a>
                <a shref="" class="hero__button wite-btn">How it’s made?</a>
            </div>                  
                            
        </div>       
            
        <div class="hero-box hero-fone"></div>

        <div class="hero-box hero-img">
            <picture>               
                <source
                srcset="
                ./images/hero-ic-236.png  1x,
                ./images/hero-ic-472.png  2x"
                width="238px"
                height="557px"
                media="(min-width: 1280px)" 
                />
                <source
                srcset="
                ./images/hero-ic-143.png  1x,
                ./images/hero-ic-286.png  2x"
                width="171px"
                height="336px"
                media="(min-width: 768px)"                
                />
                <source
                srcset="
                ./images/hero-ic-171.png  1x,
                ./images/hero-ic-342.png  2x"
                media="(min-width: 320px)" 
                />
                <img class="hero-img__picture" 
                src="./images/hero-ic-171.png"
                width="171px"
                height="410px" 
                >            
            </picture>
            
        </div>
        <div class="hero-box milk">
            <picture>                
                <source
                srcset="
                ./images/hero-milk-213.png  1x,
                ./images/hero-milk-426.png  2x"
                width="213px"
                height="216px"
                media="(min-width: 1280px)" 
                />
                <source
                srcset="
                ./images/hero-milk-152.png  1x,
                ./images/hero-milk-304.png  2x"                
                media="(min-width: 768px)"
                
                />                
                <img class="milk-foto"
                src="./images/hero-milk-152.png"
                width="152px"
                height="154px">             
            </picture>              
            <span class="milk-title-box">
                <p class="milk-title">Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit, sed do 
                    eiusmod tempor incididunt ut labore et                    
                </p>
                
                <a shref="" class="arrov-btn">
                    <svg class="arrov_img">
                        <use shref="./images/sprite.svg#icon-arrow-right"></use>
                    </svg>
                </a>
            </span>
            
        </div>
        <div class="hero-box hero-img">
            <picture>                
                <source
                srcset="
                ./images/hero-tasty-304.png  1x,
                ./images/hero-tasty-608.png  2x"
                width="304px"
                height="241px"
                media="(min-width: 1280px)" 
                />
                <source
                srcset="
                ./images/hero-tasty-190.png  1x,
                ./images/hero-tasty-380.png  2x"                
                media="(min-width: 768px)"
                
                />                
                <img class="hero-img__picture" 
                src="./images/hero-tasty-190.png" 
                width="190px"
                height="150px">             
            </picture> 
            
        </div>
        <div class="hero-box numbers">
            <ul class="numbers-blok">
                <li class="number-numbers">16</li>
                <li class="number-title">cafes</li>
            </ul>
            <ul class="numbers-blok">
                <li class="number-numbers">23</li>
                <li class="number-title">food trucks</li>
            </ul>
        </div>
    </div>                            
    
</section>